@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.data {
  @apply bg-white min-w-[80%] md:min-w-[23%]  xl:min-w-[250px]  mb-5 md:ml-2 rounded-2xl px-5 py-4 drop-shadow-xl border-[#E0E0E0] border-2 hover:bg-sky-200 
}